<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.conanchen.gedit">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- android:theme="@style/AppTheme.NoActionBar" -->
    <application
        android:name=".GeditApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.hello.HelloActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.store.StoreCreateActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.store.StoreUpdateActivity"/>
        <activity
            android:name=".ui.store.StoreUpdateHeadPortraitActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.store.StoreUpdateAddressActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.store.MyStoreListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.store.MyStoreDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.store.ExtensionStoreDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.PointsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.store.ExchangePointsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.store.MyExtensionStoreActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.ConsumptionPointsDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.ExchangePointsDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.store.StoreDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.MyFansListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.store.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.RecordSingleListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.RecordSingleDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.CustomerServiceActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.MyStorePointsRecordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.MyEmployeesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.my.MyStorePayeeRecordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>