<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.conanchen.gedit">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- android:theme="@style/AppTheme.NoActionBar" -->
    <application
        android:name=".GeditApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.hello.HelloActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.store.StoreCreateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.store.StoreUpdateActivity" />
        <activity
            android:name=".ui.store.StoreUpdateHeadPortraitActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.store.StoreUpdateAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.mystore.MyStoresActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.mystore.MyStoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.MyIntroducedStoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.MyPointsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.store.ExchangePointsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.MyIntroducedStoresActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.store.StoreDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.MyFansActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.payment.GaptureActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.payment.PointsPayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.myinvestpayment.MyInvestPaymentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.myinvestpayment.MyInvestPaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.CustomerServiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.MyStorePointsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.MyStoreEmployeesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.MyStorePaymentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.auth.ForgetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.MyWorkStoresActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.MyWorkStoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.payment.PayeeQRCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.MyInvestOrAgentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.my.mystore.MyStoreCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d949e7f182650c0c218f82f8510dfc7e">
            //高德开放平台申请的key
        </meta-data>


    </application>

</manifest>